@page "{id:int}"
@model ArticleModel
@using System.Web
@{
    ViewData["Title"] = Model.Article.Title;
}
<div class="article-page">
    <h1>@Model.Article.Title</h1>
    <p><strong>By:</strong> @Model.Article.Author | <strong>Published:</strong> @Model.Article.CreateDate.ToString("MMMM dd, yyyy")</p>
    <img src="@Model.Article.ImageURL" alt="Article Image" />

    <div>
        @Html.Raw(Model.Article.Content)
    </div>
</div>